body {
	background-color: #f1f1f1;
}

	
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.card {
    margin: 0 0 10px;
    border: 0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-padding {
	padding: 15px;
}


.card-header {
	/*background-color: pink;*/
}


.card-body {
	/*height: 250px;*/
	/*background-color: #999;*/
}


.grafico-wrapper {
	/*background-color: red;*/
	width: 100%;
	height: 250px;
}

.grafico-info {
	/*margin-top: 40px;*/
}



@media screen and (min-width:991px)  {

	.card-body {
		height: 250px;
	}


}



/*medidas*/

.medida-wrapper span {
	margin-left: 15px;
}


.medidas-avaliacao {
	width: 50%;
	float: left;
}

/*================================================= avaliacao estatisticas ========================================*/


#avaliacao-perimetria-medidas ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


.card.card-gray {
	padding: 15px 15px 5px 15px;
	background-color: #f1f1f1;
	box-shadow: 1px 1px 1px 1px #999999;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-gray:hover {
	
	cursor: pointer;
}

.card-gray:active {
	box-shadow: 1px 1px 1px 1px #fff;
}


.btn-detalhes {
    /*padding: 0 10px;*/
	display: block;
    width: 100%;
    text-transform: uppercase;
    color: #767676;
 	outline: none;
    background-color: inherit;
    font-size: 0.9em;
    margin-top: 5px;

    border: solid 1px transparent;
    border-top: 1px solid #bfbfbf;
    box-shadow: none;
    font-weight: bold;

    text-decoration: none;

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.btn-detalhes:hover {
	color: #333;
}

.card-gray > .medida-loader {
	margin: 1em auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

[data-loader]
{
    margin: 8px;
}
[data-loader='circle']
{
    width: 25px;
    height: 25px;

    -webkit-animation: circle infinite .75s linear;
       -moz-animation: circle infinite .75s linear;
         -o-animation: circle infinite .75s linear;
            animation: circle infinite .75s linear;

    border: 2px solid #333;
    border-top-color: transparent;
    border-radius: 100%;
}
[data-loader='circle-side']
{
    position: relative;

    width: 25px;
    height: 25px;

    -webkit-animation: circle infinite .75s linear;
       -moz-animation: circle infinite .75s linear;
         -o-animation: circle infinite .75s linear;
            animation: circle infinite .75s linear;

    border: 2px solid #333;
    border-top-color: rgba(0, 0, 0, .2);
    border-right-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    border-radius: 100%;
}

@-webkit-keyframes circle
{
    0%
    {
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
             -o-transform: rotate(0);
                transform: rotate(0);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-moz-keyframes circle
{
    0%
    {
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
             -o-transform: rotate(0);
                transform: rotate(0);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-o-keyframes circle
{
    0%
    {
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
             -o-transform: rotate(0);
                transform: rotate(0);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes circle
{
    0%
    {
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
             -o-transform: rotate(0);
                transform: rotate(0);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}



/*================================ novo card ============================================*/

.card .card-header-container {
    border-bottom: 1px solid #e0e0e0;
    color: rgba(0,0,0,0.87);
    height: 47px;
    line-height: 47px;
    padding-left: 24px;
    padding-right: 24px;
}

.card-header-container .card-header-tittle {
    font-size: 18px;
}

.card-header-container .card-header-actions {
    display: table-cell;
    direction: ltr;
    vertical-align: top;
    z-index: 2;
}


.card-header-container .card-header-actions .dropdown-menu > li > a {
        height: 50px;
        font-size: 18px;
        line-height: inherit;
}

.card .card-body-container {
    padding: 24px;
}

.less-padding-right {
    padding-right: 5px;
}

.less-padding-left {
    padding-left: 5px;
}