body {
	background-color: #f1f1f1;
}

	
.card {
    margin: 0 0 10px;
    border: 0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-padding {
	padding: 15px;
}


.card-header {
	/*background-color: pink;*/
}


.card-body {
	/*height: 250px;*/
	/*background-color: #999;*/
}


/*======================================================================== MENU LEFT =============================================================*/

.accordion-group {
	margin-bottom: 4px;
}

.accordion-heading {
	/*background-color: pink;*/
}


#accordion {
	margin-bottom: 20px;
}
.accordion-heading .accordion-toggle {
    display: block;
    padding: 10px 15px;
    line-height: 20px;
}

a.accordion-toggle {
    letter-spacing: .05em;
    font-size: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #dd4b39;
}

.accordion-heading a {
    color: #FFF;
    text-decoration: none;
}




/*heading collapsed*/
a.accordion-toggle.collapsed, .accordion-button > a.expanded {
    /*color: #505459;*/
    color: #FFF;
    background-color: rgb(66, 133, 244);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    /* border-radius: 2px 2px 0 0; */
}


.accordion-body {
    font-size: 11px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}


.accordion-toggle-link {
	display: block;
    padding: 10px 15px;
    line-height: 20px;
}

a.accordion-toggle-link {
    letter-spacing: .05em;
    font-size: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    color: #505459;
    background-color: #FFF;

        border-bottom: 1px solid #E4E4E4;
}


.accordion-inner a {
    text-decoration: none;
}

.accordion-inner a:hover {
	text-decoration: underline;
}

.accordion-inner a:active {
    background: #03AEE4;
    color: rgba(255,255,255,0.85);
}


.accordion-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: #FFF;
}
.accordion-heading .accordion-toggle.collapsed:after {
    content: "\e080";
    color: #FFF;
}

/*======================================================================== FIM MENU LEFT =============================================================*/
@media screen and (min-width:991px)  {



}


/*======================================================= home aluno ========================================*/

.card-link-direita {
	font-size: 18px;
	float: right;
	margin-bottom: 10px;
}

.card-link-direita span {
	position: relative;
	top: 2px;
}

/*========================================== hisotrico avaliacao =============================================*/



.avaliacao-historico {
	text-overflow: ellipsis;
}



/*=============================== professor busca aluno =======================================================*/

.busca-alunos .btn-info {
    /*background-color: rgb(66, 133, 244);*/
}




/*============================== navbar-inverse =================================*/
.navbar {
    border-radius: 0;
}
.navbar-aluno {
  background-color: #4285f4;
  border-color: #4285f4;
}
.navbar-aluno .navbar-brand {
  color: #FFFFFF;
}
.navbar-aluno .navbar-brand:hover,
.navbar-aluno .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-aluno .navbar-text {
  color: #9d9d9d;
}
.navbar-aluno .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-aluno .navbar-nav > li > a:hover,
.navbar-aluno .navbar-nav > li > a:focus {
  color: #FFF;
  background-color: #0e65f1;
}
.navbar-aluno .navbar-nav > .active > a,
.navbar-aluno .navbar-nav > .active > a:hover,
.navbar-aluno .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}
.navbar-aluno .navbar-nav > .disabled > a,
.navbar-aluno .navbar-nav > .disabled > a:hover,
.navbar-aluno .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-aluno .navbar-toggle {
  border-color: #FFFFFF;
}
.navbar-aluno .navbar-toggle:hover,
.navbar-aluno .navbar-toggle:focus {
  background-color: #0e65f1;
}
.navbar-aluno .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-aluno .navbar-collapse,
.navbar-aluno .navbar-form {
  border-color: #101010;
}
.navbar-aluno .navbar-nav > .open > a,
.navbar-aluno .navbar-nav > .open > a:hover,
.navbar-aluno .navbar-nav > .open > a:focus {
  background-color: #080808;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-aluno .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-aluno .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-aluno .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-aluno .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-aluno .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-aluno .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-aluno .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-aluno .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
  }
  .navbar-aluno .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-aluno .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-aluno .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-aluno .navbar-link {
  color: #9d9d9d;
}
.navbar-aluno .navbar-link:hover {
  color: #ffffff;
}
.navbar-aluno .btn-link {
  color: #9d9d9d;
}
.navbar-aluno .btn-link:hover,
.navbar-aluno .btn-link:focus {
  color: #ffffff;
}
.navbar-aluno .btn-link[disabled]:hover,
fieldset[disabled] .navbar-aluno .btn-link:hover,
.navbar-aluno .btn-link[disabled]:focus,
fieldset[disabled] .navbar-aluno .btn-link:focus {
  color: #444444;
}


/*=================================== navbar - professor ==========================================*/

.navbar-professor {
  background-color: #db4437;
  border-color: #db4437;
}
.navbar-professor .navbar-brand {
  color: #FFFFFF;
}
.navbar-professor .navbar-brand:hover,
.navbar-professor .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-professor .navbar-text {
  color: #9d9d9d;
}
.navbar-professor .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-professor .navbar-nav > li > a:hover,
.navbar-professor .navbar-nav > li > a:focus {
  color: #FFF;
  background-color: #ac2b20;
}
.navbar-professor .navbar-nav > .active > a,
.navbar-professor .navbar-nav > .active > a:hover,
.navbar-professor .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}
.navbar-professor .navbar-nav > .disabled > a,
.navbar-professor .navbar-nav > .disabled > a:hover,
.navbar-professor .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-professor .navbar-toggle {
  border-color: #FFFFFF;
}
.navbar-professor .navbar-toggle:hover,
.navbar-professor .navbar-toggle:focus {
  background-color: #ac2b20;
}
.navbar-professor .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-professor .navbar-collapse,
.navbar-professor .navbar-form {
  border-color: #101010;
}
.navbar-professor .navbar-nav > .open > a,
.navbar-professor .navbar-nav > .open > a:hover,
.navbar-professor .navbar-nav > .open > a:focus {
  background-color: #080808;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-professor .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-professor .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-professor .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-professor .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-professor .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-professor .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-professor .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-professor .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
  }
  .navbar-professor .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-professor .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-professor .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-professor .navbar-link {
  color: #9d9d9d;
}
.navbar-professor .navbar-link:hover {
  color: #ffffff;
}
.navbar-professor .btn-link {
  color: #9d9d9d;
}
.navbar-professor .btn-link:hover,
.navbar-professor .btn-link:focus {
  color: #ffffff;
}
.navbar-professor .btn-link[disabled]:hover,
fieldset[disabled] .navbar-professor .btn-link:hover,
.navbar-professor .btn-link[disabled]:focus,
fieldset[disabled] .navbar-professor .btn-link:focus {
  color: #444444;
}


/*============================== tela login ==================================*/

.circle-mask {
    display: block;
    height: 96px;
    width: 96px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    margin-bottom: 10px;
    background-size: 96px;
    background-repeat: no-repeat;
    background-image: url(https://ssl.gstatic.com/accounts/ui/avatar_2x.png);
    -webkit-transition: opacity 0.075s;
    -moz-transition: opacity 0.075s;
    -ms-transition: opacity 0.075s;
    -o-transition: opacity 0.075s;
    transition: opacity 0.075s;
}


#loginForm .form-group input {
    width: 100%;
    max-width: 100%;
}

.login-img {
        color: #555;
}
